<section>

  <!--this form allows an admin to edit the about page to change the picture or the description-->
  <div class="container-fluid">
    <!--Heading-->
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-page text-center">
          <h1>{{vm.newabout._id ? 'Edit Newabout' : 'New Newabout'}}</h1>
        </div>
      </div>
    </div>
    <div class="jumbotron" style="padding:5%">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- Begin form -->
          <form name="vm.form.newaboutForm" class="form-horizontal" ng-submit="vm.save(vm.form.newaboutForm.$valid)"
                novalidate>
            <fieldset>
              <div class="form-group" show-errors>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label" for="title">Page Title</label>
                    <input name="title" type="text" ng-model="vm.newabout.title" id="title"
                           class="form-control about-form-bar"
                           placeholder="Title" required>
                    <div ng-messages="vm.form.newaboutForm.title.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">About Title is required.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" show-errors>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label" for="textTitle">About page description title</label>
                    <input name="textTitle" type="text" ng-model="vm.newabout.textTitle" id="textTitle"
                           class="form-control about-form-bar"
                           placeholder="Text Title" required>
                    <div ng-messages="vm.form.newaboutForm.textTitle.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">About Text Title is required.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" show-errors>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label" for="text">About page description paragraph</label>
                    <textarea row="7" name="text" type="text" ng-model="vm.newabout.text" id="text"
                              class="form-control about-form-bar"
                              placeholder="About page Description" required>
                </textarea><br>
                    <div ng-messages="vm.form.newaboutForm.text.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">About Text Body is required.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Start Image Upload-->
              <div class="form-group text-center">
                <div class="row">
                  <div class="col-md-12">
                    <img ng-src="{{imageURL}}" class="img-thumbnail add-event-picture">
                    <div class="text-center form-group" ng-hide="uploader.queue.length">
                    <span class="btn btn-default btn-file">
                        Select Image <input type="file" accept="image/*" nv-file-select uploader="uploader">
                    </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div ng-show="success" class="text-center text-success">
                      <strong>About Changed Successfully</strong>
                    </div>
                    <div ng-show="error" class="text-center text-danger">
                      <strong ng-bind="error"></strong>
                    </div>
                  </div>
                </div>
                <!--End Image Upload-->
                <div class="form-group">
                  <div class="'row">
                    <div class="col-md-1 col-md-offset-5">
                      <button type="submit" class="btn btn-default">{{vm.newabout._id ? 'Update' : 'Create'}}</button>
                    </div>
                    <div ng-show="vm.error" class="text-danger">
                      <strong ng-bind="vm.error"></strong>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
          <!-- End Form -->
        </div>
        </fieldset>
      </div>
    </div>
  </div>
</section>
