<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Include YT library and this directive -->
<section>
  <div class="pull-left" style="margin-left:20px"
       ng-show="vm.upcomingevent.isCurrentUserOwner || vm.authentication.user.roles == 'admin'">
    <a class="btn contact-submit-button"
       ui-sref="upcomingevents.edit({ upcomingeventId: vm.upcomingevent._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn contact-submit-button" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
  <div class="container-fluid" ng-init="fillFields()">
    <div class="row" style="box-shadow: 0px 1px 5px 0px #969696">
      <div class=" col-lg-offset-1 col-lg-6">
        <!--background div-->
        <!--<div class="event-name-background" ng-style="{'background-color': changeBackground()}">-->
        <!--<img class="event-picture-description" ng-src="{{imageURLList[0]}}">-->
        <!--</div>-->
        <img ng-if="imageURLList.length == 1" class="event-picture-description img-responsive"
             ng-src="{{imageURLList[0]}}">
        <!-- Start Carousel -->
        <carousel interval="myInterval" ng-if="imageURLList.length > 1" class="carousel-picture-description img-responsive" >
          <slide ng-repeat="slideURL in imageURLList" active="slide.active">
            <img class="carousel-picture-description" ng-src="{{slideURL}}" class="img-thumbnail add-event-picture">
          </slide>
        </carousel>
        <!-- End Carousel -->

      </div>
      <div class="col-lg-3 event-name-background">
        <h1 class="event-name-title" ng-bind="vm.upcomingevent.name"></h1>
        <h4 class="event-name-organizer"> By: {{vm.upcomingevent.organization}}</h4>
        <!--Start Like-->
        <div class="row like-button">
          <div ng-hide="!user" style="display:inline">
            <i class="btn btn-default" ng-click="vm.like()">
              <!--<i class="glyphicon glyphicon-thumbs-up"></i>-->
              <i class=" like-button-color fa fa-thumbs-up"></i>
            </i>
            <h2 class="like-event" ng-bind="vm.upcomingevent.likes"></h2>
          </div>
        </div>
        <!--End Like-->
      </div>
    </div>

    <!--then split off in 2 columns name and description and likes and on the right the time and location-->
    <div class="row margins-description">
      <div class=" col-lg-offset-1 col-lg-3">
        <!--display the date on the first row -->
        <div class="row">
          <div class="col-lg-12">
            <h6 class="labels-events">DATE</h6>
            <h5 class="information-events"> {{startDateString}} -
            </h5>
            <h5 class="information-events">{{endDateString}}
            </h5>
          </div>
        </div>
        <!--display the location on the next row-->
        <div class="row">
          <div class="col-lg-12">
            <h6 class="labels-events">LOCATION</h6>
            <h5 class="information-events">{{vm.upcomingevent.location}} </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!--event description-->
        <div class="row">
          <div class="col-lg-12">
            <h6 class="labels-events"> DESCRIPTION </h6>
            <h5 class="description-events"> {{vm.upcomingevent.description}}</h5>
          </div>
        </div>
        <!--category & dress code-->
        <div class="row">
          <div class="col-lg-4">
            <h6 class="labels-events"> CATEGORY </h6>
            <h5 class="information-events"> {{vm.upcomingevent.category}}</h5>
          </div>
          <div class="col-lg-4">
            <h6 class="labels-events"> DRESS CODE </h6>
            <h5 class="information-events"> {{vm.upcomingevent.dress_code}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!--Video-->
            <div ng-show="vm.upcomingevent.videoURL != ''">
              <ng-youtube-embed video=vm.upcomingevent.videoURL width="100%"></ng-youtube-embed>
            </div>
            <div><h4>{{video1}}</h4></div>
            <!---->
          </div>
        </div>
      </div>
      <!--End Map-->

      <!--&lt;!&ndash;Start Date Object&ndash;&gt;-->
      <!--<div>-->
      <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(0, 10)"></h3>-->
      <!--</div>-->
      <!--<div>-->
      <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(11, 16)"></h3>-->
      <!--</div>-->
      <!--<div>-->
      <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(0, 10)"></h3>-->
      <!--</div>-->
      <!--<div>-->
      <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(11, 16)"></h3>-->
      <!--</div>-->
      <!--&lt;!&ndash;End Date Object&ndash;&gt;-->
    </div>
    <!--organizer contact information-->
    <div class="row organizer-contact" ng-if="vm.upcomingevent.contact">
      <div class="col-lg-12 text-center">
        <h4 class="labels-events"> IF YOU HAVE ANY QUESTIONS CONTACT THE ORGANIZER AT: </h4>
        <i class=" fa fa-envelope-o"></i>
        <h5 style="display:inline">{{vm.upcomingevent.contact.email}} &emsp;&emsp;</h5>
        <i class=" fa fa-mobile"></i>
        <h5 style="display:inline">{{vm.upcomingevent.contact.phone_number}}</h5>
      </div>
    </div>

    <!--put the pictures, videos, and contact information-->
    <div class="row" style="margin-top:20px">
      <div class="col-lg-offset-1 col-lg-10 text-center">
        <!--Start Map-->
        <h4 class="labels-events"> Event Location </h4>
        <ng-map zoom-to-include-markers="auto" center="{{ map.center }}" draggable="true">
          <marker title="You" position="current-location" animation="Animation.BOUNCE" centered="true"></marker>
          <marker animation="Animation.DROP" ng-repeat="marker in markers" position="{{ marker.position }}"
                  title="{{ marker.name }}">
          </marker>
        </ng-map>
        <!--End Map-->
      </div>
    </div>

    </div>
  </div>
  <!--End Map-->

  <!--&lt;!&ndash;Start Date Object&ndash;&gt;-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(0, 10)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(11, 16)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(0, 10)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(11, 16)"></h3>-->
  <!--</div>-->
  <!--&lt;!&ndash;End Date Object&ndash;&gt;-->
  <!--<div class="col-lg-3">-->
  <!--&lt;!&ndash;Start Date Object&ndash;&gt;-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(0, 10)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.startDate.toString()).substring(11, 16)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(0, 10)"></h3>-->
  <!--</div>-->
  <!--<div>-->
  <!--<h3 ng-bind="(vm.upcomingevent.eventDuration.endDate.toString()).substring(11, 16)"></h3>-->
  <!--</div>-->
  <!--&lt;!&ndash;End Date Object&ndash;&gt;-->

  <!--then the map-->
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.upcomingevent.created | date:'mediumDate'"></span>
      <span ng-if="vm.upcomingevent.user">by</span>
      <span ng-if="vm.upcomingevent.user" ng-bind="vm.upcomingevent.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.upcomingevent.content"></p>
</section>
