<!-- <section>
  <div class="page-header">
    <h1>Contacts</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="contact in vm.contacts"
       ui-sref="contacts.view({ contactId: contact._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="contact.created | date:'mediumDate'"></span>
        by
        <span ng-if="contact.user" ng-bind="contact.user.displayName"></span>
        <span ng-if="!contact.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="contact.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.contacts.$resolved && !vm.contacts.length">
    No Contacts yet, why don't you <a ui-sref="contacts.create">create one</a>?
  </div>
</section> -->
