<!--<section>-->
<!--<div class="modal-header">-->
<!--<h1 class="modal-title">-->
<!--{{vm.subscription._id ? 'Edit Subscription' : 'Let Community Calendar helps you get out!'}}</h1>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<h3 class="modal-subtitle">-->
<!--{{vm.subscription._id ? '' : 'Add our to your inbox, and enjoy the update upcoming events...'}}</h3>-->
<!--<label>ans: {{vm.form.subscriptionForm.$valid}}</label>-->
<!--<form name="vm.form.subscriptionForm" class="form-horizontal" ng-submit="vm.save(vm.form.subscriptionForm.$valid)"-->
<!--novalidate>-->
<!--<fieldset>-->
<!--<div class="modal-body">-->
<!--<div class="form-group" show-errors>-->
<!--<label for="email">E-Mail Address</label>-->
<!--<input type="email" id="email" name="email" class="form-control" ng-model="vm.subscription.email"-->
<!--placeholder="Email" lowercase required>-->
<!--<div ng-messages="vm.form.subscriptionForm.email.$error" role="alert">-->
<!--<p class="help-block error-text" ng-message="required">Email address is required.</p>-->
<!--<p class="help-block error-text" ng-message="email">Email address is invalid.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button type="button" ng-click="vm.save(vm.form.subscriptionForm.$valid)" class="btn btn-default">-->
<!--{{vm.subscription._id ? 'Update' : 'Create'}}-->
<!--</button>-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>&ndash;&gt;-->
<!--</div>-->
<!--<div ng-show="vm.error" class="text-danger">-->
<!--<strong ng-bind="vm.error"></strong>-->
<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-primary" ng-click="$close()">Agree</button>&ndash;&gt;-->
<!--&lt;!&ndash;<label>successfullySaved: {{successfullySaved}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-if="successfullySaved" ng-bind="$close()"></div>&ndash;&gt;-->

<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--</section>-->


<section>
    <div class="modal-header">
      <h1 class="modal-title heading-page">Community Calendar</h1>
      <div>
        <h3 class="modal-subtitle">Subscribe to our mailing list to get information about upcoming events!</h3>
      </div>
    </div>
    <div class="modal-body">
      <div>
        <label for="email">E-Mail Address</label>
        <input type="email" id="email" name="email" class="form-control new-event-form-bar" ng-model="email"
               placeholder="Email" lowercase required>
        <div ng-messages="form.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Email address is required.</p>
          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn contact-submit-button" ng-click="$dismiss()">Cancel</button>
      <button type="button" class="btn contact-submit-button" ng-click="submitted()">Agree</button>
    </div>
</section>
