<section>
  <div class="modal-header">
    <h1 class="modal-title">Privacy and Terms</h1>
    <div>
      <p>
        By choosing “I agree” below you agree to Google’s Terms of Service.
        You also agree to our Privacy Policy, which describes how we process your information, including these key points:
      </p>
    </div>
  </div>
  <div class="modal-body">
    <p>
      Data we process when you use Community Calendar
      When you set up a Community Calendar Account, we store information you give us like your name, email address, and telephone number.
      When you use Community Calendar services to do things like create a new event or comment on other events, we store the information you create.
      When you search for a restaurant on Community Calendar Maps or watch a video from other events, for example, we process information about that activity
      – including information like the video you watched, device IDs, IP addresses, cookie data, and location.
      We also process the kinds of information described above when you use apps or sites that use Community Calendar services like ads, Analytics, and the event video player.
      Depending on your account settings, some of this data may be associated with your Community Calendar Account and we treat this data as personal information.
      You can control how we collect and use this data at My Setting.

      Why we process it
      We process this data for the purposes described in our policy, including to:

      Help our services deliver more useful, customized content such as more relevant search results;
      Improve the quality of our services and develop new ones;
      Deliver personalized ads, both on Community Calendar services and on sites and apps that partner with Community Calendar;
      Improve security by protecting against fraud and abuse; and
      Conduct analytics and measurement to understand how our services are used.
      Combining data
      We also combine data among our services and across your devices for these purposes. For example, we show you ads based on information from your use of Search, and we use data from trillions of search queries to build spell-correction models that we use across all of our services.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close()">Agree</button>
  </div>

</section>
